<?xml version="1.0"?>
<config>
    <modules>
        <WBL_AbandonedCart>
            <version>0.1.0</version>
        </WBL_AbandonedCart>
    </modules>
    <global>
        <template>
            <email>
                <wbl_abandonedcart_general_template translate="label" module="wbl_abandonedcart">
                    <label>Abandoned Cart Mail</label>
                    <file>sales/wbl_abandoned_cart.html</file>
                    <type>html</type>
                </wbl_abandonedcart_general_template>
            </email>
        </template>
        <models>
            <wbl_abandonedcart>
                <class>WBL_AbandonedCart_Model</class>
                <resourceModel>wbl_abandonedcart_resource</resourceModel>
            </wbl_abandonedcart>
            <wbl_abandonedcart_resource>
                <class>WBL_AbandonedCart_Model_Resource</class>
                <deprecatedNode>wbl_abandonedcart_mysql4</deprecatedNode>
                <entities>
                    <mailssent>
                        <table>wbl_mails_sent</table>
                    </mailssent>
                </entities>
            </wbl_abandonedcart_resource>
        </models>
        <blocks>
            <wbl_abandonedcart>
                <class>WBL_AbandonedCart_Block</class>
            </wbl_abandonedcart>
        </blocks>
        <helpers>
            <wbl_abandonedcart>
                <class>WBL_AbandonedCart_Helper</class>
            </wbl_abandonedcart>
        </helpers>
        <resources>
            <wbl_abandonedcart_setup>
                <setup>
                    <module>WBL_AbandonedCart</module>
                </setup>
            </wbl_abandonedcart_setup>
        </resources>
        <fieldsets>
            <sales_convert_quote>
                <wbl_abandonedcart_flag>
                    <to_order>*</to_order>
                </wbl_abandonedcart_flag>
            </sales_convert_quote>
        </fieldsets>
    </global>
    
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <WBL_Abandonedcart before="Mage_Adminhtml">WBL_AbandonedCart_Adminhtml</WBL_Abandonedcart>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <adminhtml>
        <layout>
            <updates>
                <wbl_abandonedcart>
                    <file>wbl/abandonedcart.xml</file>
                </wbl_abandonedcart>
            </updates>
        </layout>
        <translate>
            <modules>
                <WBL_AbandonedCart>
                    <files>
                        <default>WBL_AbandonedCart.csv</default>
                    </files>
                </WBL_AbandonedCart>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers>
            <wbl_abandonedcart>
                <use>standard</use>
                <args>
                    <module>WBL_AbandonedCart</module>
                    <frontName>wbl_abandonedcart</frontName>
                </args>
            </wbl_abandonedcart>
        </routers>
        <layout>
            <updates>
                <wbl_abandonedcart>
                    <file>wbl/abandonedcart.xml</file>
                </wbl_abandonedcart>
            </updates>
        </layout>
    </frontend>
    <crontab>
        <jobs>
            <wbl_abandoned_cart>
                <schedule>
                    <cron_expr>0 */1 * * *</cron_expr>
                </schedule>
                <run>
                    <model>wbl_abandonedcart/cron::abandoned</model>
                </run>
            </wbl_abandoned_cart>
        </jobs>
    </crontab>
    <default>
        <wbl_abandonedcart>
            <general>
                <subject>Abandoned Cart Email</subject>
                <autologin>0</autologin>
                <page>checkout/cart</page>
            </general>
        </wbl_abandonedcart>
    </default>
</config>